html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 0.75rem;
}

.form-inline input,
.form-inline select{
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

input, select{
    min-height: 30px;
}